{% extends "app_ratings/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    <br>
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <h2>Vote out of 10</h2>
            <hr>
            <p>{{ country_name }}</p>
            {{form|crispy}} 
        </fieldset>
        <div class="form-group2">
            <button class="btn btn-outline-info" type="submit"><b>Submit</b></button>
        </div>
    </form>
</div>

{% endblock content %}